        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>{{ site.github_username }}</a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://www.twitter.com/{{ site.twitter_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>{{ site.twitter_username }}</a>
          </li>
          {% endif %}
        </ul>
